<md-card class="pa-lr-16" id="index-calc" layout="column">
    <md-toolbar class="bg-white co-black-lighten pa-tb-16">
        <div layout="row" layout-align="space-between start">
            <span ng-show="!showFilter">{{SETTINGS_INDEX_CALCULATOR.title}}</span>
            <md-button ng-show="!showFilter" class="md-icon-button toolbar-top-overwrite" aria-label="show filter" ng-click="showFilter = !showFilter">
                <ng-md-icon icon="more_vert" style="fill:#333" size="24"></ng-md-icon>
            </md-button>
            <span ng-show="showFilter">
                <md-button class="toolbar-btn" ng-click="doFullscreenCalc()">
                    <ng-md-icon icon="fullscreen" style="fill:#333; vertical-align: sub;" size="18"></ng-md-icon>
                    fullscreen</md-button>
                <md-input-container id="tteesstt" class="toolbar-select">
                    <label>EXAMPLES</label>
                    <md-select ng-model="example" ng-change="changeExamples()" ng-blur="exampleBlur()">
                        <md-optgroup label="Indexe">
                            <md-option value="arindex">AR-Index</md-option>
                            <md-option value="a-r-index">A- und R-Index</md-option>
                            <md-option value="hindex">h-Index</md-option>
                            <md-option value="hgindex">hg-Index</md-option>
                            <md-option value="h2index">h(2)-Index</md-option>
                            <md-option value="gindex">g-Index</md-option>
                            <md-option value="q2ndex">q²-Index</md-option>
                            <md-option value="tapered">tapered index</md-option>
                            <md-option value="mfindex">MF-Index</md-option>
                            <md-option value="mindex">M-Index</md-option>
                            <md-option value="mquotient">m-Quotient</md-option>
                        </md-optgroup>
                        <md-optgroup label="Other Examples">
                            <md-option value="sortieren">sortieren</md-option>
                        </md-optgroup>
                        <md-optgroup label="personal">
                            <md-option ng-repeat="(key, value) in SETTINGS_INDEX_CALCULATOR.additionalExamples" value="{{key}}">{{key}}</md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
            </span>
            <md-button ng-show="showFilter" class="md-icon-button toolbar-top-overwrite" aria-label="close" ng-click="toggleTab('close')">
                <ng-md-icon icon="close" style="fill:#666" size="24"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content flex ng-style="showTab =='showEditor' && {'padding-bottom':'25px'}" class="calc-chart-wrapper bg-white">
        <sv-element-loader show="DataProvider.data[publinId].request == 'pending'"></sv-element-loader>
        <md-content style="overflow: hidden;" ng-if="tabs.length > 0 && showTab!='showMathScope' && showTab!='showCollectedData'">
            <md-tabs md-selected="selectedTab" class="chart-tabs" md-align-tabs="bottom">
                <md-tab ng-repeat="tab in tabs"  md-on-select="updateSelectedTab(tab)">
                    <md-tab-label>
                        <ng-md-icon icon="{{tab.icon}}" style="fill:#555" size="24"></ng-md-icon>
                        <md-tooltip md-direction="top">{{tab.chartData.title.text}}</md-tooltip>
                        <!--<button ng-if="!$first" class="btn-removeTab" ng-click="removeTab(tab)">-->
                            <!--<ng-md-icon icon=" close" style="fill:#333" size="16"></ng-md-icon>-->
                        <!--</button>-->
                    </md-tab-label>
                    <md-tab-body>
                        <highchart class="chartHeight" id="tab.chartData[$index]" config="tabs[$index].chartData"></highchart>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </md-content>
        <md-divider></md-divider>
        <div ng-show="showTab!='showMathScope' && showTab!='showCollectedData' && showTab =='showEditor'" include-with-scope template-path="scripts/index-editor/templates/calculator-solution.html"></div>
    </md-content>
    <md-card-actions layout="row" layout-align="space-between center" ng-show="showTab =='showEditor'">
        <span>
            <md-button ng-click="toggleTab('')">Hide</md-button>
            <md-button ng-click="showPopup($event)">Help</md-button>
            <md-button ng-click="shareCalc()">
                <md-tooltip md-direction="top">Copy to clipboard</md-tooltip>
                share
            </md-button>
        </span>
        <span>
            <md-button ng-click="addTab('add_circle_outline', {}, null, '//Type your code here', null)">new Tab</md-button>
            <md-button class="md-primary" ng-click="evaluate()">evaluate
            <md-tooltip md-direction="top">STRG + ENTER</md-tooltip></md-button>
        </span>
    </md-card-actions>
    <md-card-actions layout="row" layout-align="end start" ng-show="showTab !='showEditor'">
        <md-button ng-click="addTab('add_circle_outline', {}, null, '//Type your code here', null)">new Tab</md-button>
        <md-button ng-show="showTab !='showEditor'" ng-click="toggleTab('showEditor')"  class="md-primary">edit</md-button>
    </md-card-actions>

</md-card>
<!--<pre style="width: 40%;position: fixed; right: 10px; max-height: 100%; bottom:10px; top:10px; overflow: auto; background: #fff; border: 1px solid #ccc; ">-->
    <!--selectedTab: {{selectedTab | prettify}}-->
    <!--$scope.tabs: {{tabs | prettify}}-->
    <!--{{mathscope | prettify}}-->
<!--</pre>-->