<md-bottom-sheet class="md-grid" layout="column">
    <div class="bottom-sheet-title"><b>Plot type</b></div>
    <div layout="row" layout-align="center center">
        <div class="bottom-sheet-btn-wrapper">
        <button class="bottom-sheet-btn" ng-click="listItemClick('line')">
            <ng-md-icon icon="line" style="fill:#666;" size="24"></ng-md-icon>
            <span>LINE</span>
        </button>
        <button class="bottom-sheet-btn" ng-click="listItemClick('column')">
            <ng-md-icon icon="column" style="fill:#666" size="24"></ng-md-icon>
            <span>Column</span>
        </button>
        <button class="bottom-sheet-btn" ng-click="listItemClick('pie')">
            <ng-md-icon icon="pie" style="fill:#666" size="24"></ng-md-icon>
            <span>PIE</span>
        </button>
        <button class="bottom-sheet-btn" ng-click="listItemClick('scatter')">
            <ng-md-icon icon="scatter" style="fill:#666" size="24"></ng-md-icon>
            <span>Scatter</span>
        </button>
        <button class="bottom-sheet-btn" ng-click="listItemClick('heatmap')">
            <ng-md-icon icon="bar" style="fill:#666" size="24"></ng-md-icon>
            <span>Heatmap</span>
        </button>
        <button class="bottom-sheet-btn" ng-click="listItemClick('spider')">
            <ng-md-icon icon="spider" style="fill:#666" size="30"></ng-md-icon>
            <span>Spider</span>
        </button>
        </div>
    </div>
</md-bottom-sheet>

